#Google_cloud_platform, #bg, #cloudsstars, #icons, #Chrome, #Docs, #Forms, #Google_calendar, #Google_my_buisness, #Sliders {
	opacity: 0;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

#Google_cloud_platform {
	-webkit-transform: scale(3);
	transform: scale(3);
	-webkit-animation: scaleElement 1.5s linear 0s forwards;
	animation: scaleElement 1.5s linear 0s forwards;
}

#bg, #cloudsstars {
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-animation: scaleElement 1.5s linear 0s forwards;
	animation: scaleElement 1.5s linear 0s forwards;
}

#icons {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-animation: scaleElement 1s linear 0s forwards;
	animation: scaleElement 1s linear 0s forwards;
}

#Chrome {
	-webkit-transform: translate(150px, 150px);
	transform: translate(150px, 150px);
}
#Docs {
	-webkit-transform: translate(200px, 0px);
	transform: translate(200px, 0px);
}
#Forms {
	-webkit-transform: translate(150px, -150px);
	transform: translate(150px, -150px);
}
#Google_calendar {
	-webkit-transform: translate(0px, -200px);
	transform: translate(0px, -200px);
}
#Google_my_buisness {
	-webkit-transform: translate(-150px, 150px);
	transform: translate(-150px, 150px);
}
#Sliders {
	-webkit-transform: translate(-150px, -150px);
	transform: translate(-150px, -150px);
}

#Chrome, #Docs, #Forms, #Google_calendar, #Google_my_buisness, #Sliders {
	-webkit-animation: moveElement 1.5s linear 0s forwards;
	animation: moveElement 1.5s linear 0s forwards;
}

#star1, #star4 {
	-webkit-animation: blinkStar 1s ease-out 0s alternate infinite;
	animation: blinkStar 1s ease-out 0s alternate infinite;
}
#star2 {
	-webkit-animation: blinkStar 1s ease-out 1s alternate infinite;
	animation: blinkStar 1s ease-out 1s alternate infinite;
}
#star3 {
	-webkit-animation: blinkStar 1s ease-out 0.5s alternate infinite;
	animation: blinkStar 1s ease-out 0.5s alternate infinite;
}

@-webkit-keyframes scaleElement {
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes moveElement {
	to {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@-webkit-keyframes blinkStar {
	0% {
    opacity: 1;
  }
	100% {
		 opacity: 0;
	}
}




@keyframes scaleElement {
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes moveElement {
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes blinkStar {
	0% {
    opacity: 1;
  }
	100% {
		 opacity: 0;
	}
}
