#line1, #line2 {
	stroke-dasharray: 350;
	stroke-dashoffset: 350;
}
#line3 {
	stroke-dasharray: 210;
	stroke-dashoffset: 210;
}

#line1 {
	-webkit-animation: drawingLine 1s linear 0s forwards, dashLine 0s linear 1s forwards;
	animation: drawingLine 1s linear 0s forwards, dashLine 0s linear 1s forwards;
}
#line2 {
	-webkit-animation: drawingLine 1s linear 1s forwards, dashLine 0s linear 2s forwards;
	animation: drawingLine 1s linear 1s forwards, dashLine 0s linear 2s forwards;
}
#line3 {
	-webkit-animation: drawingLine 1s linear 2s forwards, dashLine 0s linear 3s forwards;
	animation: drawingLine 1s linear 2s forwards, dashLine 0s linear 3s forwards;
}

#Stars, #Hotel, #badge, #IT, #Team {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(0);
	transform: scale(0);
}

#Stars {
	-webkit-animation: scaleElement 1s linear 0s forwards;
	animation: scaleElement 1s linear 0s forwards;
}
#Hotel {
	-webkit-animation: scaleElement 1s linear 0.5s forwards;
	animation: scaleElement 1s linear 0.5s forwards;
}
#badge {
	-webkit-animation: scaleElement 1s linear 1.5s forwards;
	animation: scaleElement 1s linear 1.5s forwards;
}
#IT {
	-webkit-animation: scaleElement 1s linear 2s forwards;
	animation: scaleElement 1s linear 2s forwards;
}

#Team {
	-webkit-animation: scaleElement 3s linear 0s forwards;
	animation: scaleElement 3s linear 0s forwards;
}

#star1, #star2, #star3, #star4, #star13 {
	-webkit-animation: blinkStar 1s ease-out 0s alternate infinite;
	animation: blinkStar 1s ease-out 0s alternate infinite;
}
#star5, #star6, #star7, #star8 {
	-webkit-animation: blinkStar 1s ease-out 1s alternate infinite;
	animation: blinkStar 1s ease-out 1s alternate infinite;
}
#star9, #star10, #star11, #star12 {
	-webkit-animation: blinkStar 1s ease-out 0.5s alternate infinite;
	animation: blinkStar 1s ease-out 0.5s alternate infinite;
}

@-webkit-keyframes drawingLine {
	to {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes dashLine {
	to {
		stroke-dasharray: 5;
	}
}

@-webkit-keyframes scaleElement {
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes blinkStar {
	0% {
    opacity: 1;
  }
	100% {
		 opacity: 0;
	}
}




@keyframes drawingLine {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dashLine {
	to {
		stroke-dasharray: 5;
	}
}

@keyframes scaleElement {
	to {
		transform: scale(1);
	}
}

@keyframes blinkStar {
	0% {
    opacity: 1;
  }
	100% {
		 opacity: 0;
	}
}