body {
  margin-top: 25em;
  background: rgb(167,219,216);
}

.base {
  font-size: 1.8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  height: 3em;
  width: 3em;
  margin: 0 auto;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transition: -webkit-transform 1s ease-in-out, -webkit-perspective-origin 1s ease-in-out;
          transition: transform 1s ease-in-out, perspective-origin 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.box {
  display: block;
  font-size: 1em;
  position: absolute;
  height: 2em;
  width: 2em;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out;
  -webkit-transform: rotateX(-30deg) rotateY(-135deg);
          transform: rotateX(-30deg) rotateY(-135deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.box .face {
  position: relative;
  bottom: 0;
  width: 2em;
  height: 2em;
}
.box .side-0,
.box .side-1 {
  overflow: hidden;
  height: 2em;
}
.box .side-0 {
  -webkit-transform: rotateY(90deg) translateZ(1em);
          transform: rotateY(90deg) translateZ(1em);

}
.box .side-1 {
  -webkit-transform: rotateY(180deg) translateY(-2em) translateZ(1em);
          transform: rotateY(180deg) translateY(-2em) translateZ(1em);

}
.box .top {
  -webkit-transition: box-shadow .3s ease-in-out;
          transition: box-shadow .3s ease-in-out;
  -webkit-transform: rotateX(90deg) translateZ(5em);
          transform: rotateX(90deg) translateZ(5em);

}
.box .bottom {
  -webkit-transform: rotateX(-90deg) translateY(0em) translateZ(-5em) rotate(180deg);
          transform: rotateX(-90deg) translateY(0em) translateZ(-5em) rotate(180deg);
  -webkit-transition: box-shadow 1.2s;
          transition: box-shadow 1.2s;
}


.base:hover {
  -webkit-perspective-origin: 50% 0%;
          perspective-origin: 50% 0%;
}

.box:hover .top::after, .box:hover .side-0::after, .box:hover .side-1::after {
  content: "";
  display: block;
  height: 2em;
  width: 2em;
  background-color: rgba(255, 0, 0, .5);
}

.box:nth-child(-n+16)  .top { background-color: rgb(72,73,77);  z-index: 10; }
.box:nth-child(-n+16)  .side-0 { background-color: rgb(46,47,50); }
.box:nth-child(-n+16)  .side-1 { background-color: rgb(84,84,84); }


.box:nth-child(n+17):nth-child(-n+32)  .top    { background-color: rgb(53,63,107);  z-index: 11; }
.box:nth-child(n+17):nth-child(-n+32)  .side-0 { background-color: rgb(37,49,97); }
.box:nth-child(n+17):nth-child(-n+32)  .side-1 { background-color: rgb(64,76,131);}



.box:nth-child(n+33):nth-child(-n+48)  .top    { background-color: rgb(62,98,146);  z-index: 12; }
.box:nth-child(n+33):nth-child(-n+48)  .side-0 { background-color: rgb(38,83,128); }
.box:nth-child(n+33):nth-child(-n+48)  .side-1 { background-color: rgb(85,121,168); }



.box:nth-child(n+49):nth-child(-n+64)  .top    { background-color: rgb(71,156,159);  z-index: 13; }
.box:nth-child(n+49):nth-child(-n+64)  .side-0 { background-color: rgb(66,131,139); }
.box:nth-child(n+49):nth-child(-n+64)  .side-1 { background-color: rgb(101,179,177); }


.box:nth-child(n+65):nth-child(-n+80)  .top    { background-color: rgb(130, 198, 143);  z-index: 14; }
.box:nth-child(n+65):nth-child(-n+80)  .side-0 { background-color: rgb(120, 175, 131); }
.box:nth-child(n+65):nth-child(-n+80)  .side-1 { background-color: rgb(155, 198, 166); }


.box:nth-child(n+81):nth-child(-n+96)  .top    { background-color: rgb(213, 222, 143);  z-index: 15;}
.box:nth-child(n+81):nth-child(-n+96)  .side-0 { background-color: rgb(193, 201, 120); }
.box:nth-child(n+81):nth-child(-n+96)  .side-1 { background-color: rgb(233, 240, 173); }


.base:hover .box_x-4_z-4 {-webkit-transform: rotateX(-30deg) rotateY(-135deg) translateX(-4em) translateZ(-4em);transform: rotateX(-30deg) rotateY(-135deg) translateX(-4em) translateZ(-4em);}
.base:hover .box_x-2_z-4 {-webkit-transform: rotateX(-30deg) rotateY(-135deg) translateX(-2em) translateZ(-4em);transform: rotateX(-30deg) rotateY(-135deg) translateX(-2em) translateZ(-4em);}
.base:hover .box_x0_z-4 {-webkit-transform: rotateX(-30deg) rotateY(-135deg) translateX(0em) translateZ(-4em);transform: rotateX(-30deg) rotateY(-135deg) translateX(0em) translateZ(-4em);}
.base:hover .box_x2_z-4 {-webkit-transform: rotateX(-30deg) rotateY(-135deg) translateX(2em) translateZ(-4em);transform: rotateX(-30deg) rotateY(-135deg) translateX(2em) translateZ(-4em);}
.base:hover .box_x4_z-4 {-webkit-transform: rotateX(-30deg) rotateY(-135deg) translateX(4em) translateZ(-4em);transform: rotateX(-30deg) rotateY(-135deg) translateX(4em) translateZ(-4em);}
