body {
    background: #fff;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    background: #fff;
    text-align: center; 
    position: fixed;
    top: 0px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
a.prev {
  position: absolute;
  left: 15px;
}
header h5 {
  font-size: 18px;
  color: #000;
  padding: 0px;
  font-weight: normal;
}

main { 
    display: flex;
    justify-content: flex-end;
    min-height: 500px;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 60px;
}
main p {
  margin: 15px;
}

.flex-item {
  color: black;
  background-color: white;
  border-radius: 5px;
  align-self: flex-start;
  width: 75%;
  margin: 8px;
  margin-left: 35px;
}
.flex-item-me {
  color: white;
  background-color: rgb(32, 144, 205);
  border-radius: 5px;
  align-self: flex-end;
  width: 75%;
  margin: 10px;
}
.face1, .face2 {
  position: absolute;
  margin: 0;
  margin-top: -17px;
  margin-left: -17px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
}
.face1 {
  background-image: url(../images/face1.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.face2 {
  background-image: url(../images/face2.png);
  background-size: 100%;
  background-position: center;
}
footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #fff;
  position: fixed;
  padding: 0;
  bottom: 0;
}
form {
  width: 100%;
}
#text {
 width: 78%; 
 float: left;
 height: 50px;
 margin: 0;
 padding: 0;
 border: none;
 border-left: 2px solid rgb(185, 185, 185);
 margin-left: 60px;
}
a.prev {
    width: 24px;
    height: 24px;
    background: url("../images/left-arrow.png") no-repeat;
}
a.camera {
    background: url(../images/camera-outline.png) no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-left: 17px;
    margin-top: 14px;
}