body {
    background: #fff;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    margin: 0;
}
header, main, footer {
    display: flex;
    justify-content: center;
    background: #fff;
}
header {
    position: fixed;
    top: 0px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
header h5 {
  font-size: 18px;
  color: #3c91d1;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
}
main { 
    min-height: 560px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
article p{
  padding-top: 100px;
  padding-left: 30px;
  color: #80807f;
  font-size: 18px;
}

h1 span.content-strong {
  color: #207dc1;
  font-size: 42px;
  padding-left: 5px;
  border-left: 2px solid #207dc1;
  margin-left: 30px;
}
.start a {
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.login a {
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2090cd;
  font-size: 14px;
}
form {
  width: 100%;
}

.start {
  border-radius: 5px;
  background: #2090cd;
  padding: 12px;
  margin-bottom: 10px;
  text-shadow: -1px 1px #2090cd;
  border: none;
  width: 80%;
}
.login {
  outline: none;
  border-radius: 5px;
  background: white;
  padding: 12px;
  margin-bottom: 10px;  
  border: 1px solid #2090cd;
  width: 80%;
}
footer {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  position: fixed;
  padding: 0;
  bottom: 0;
}