body {
    background: #fff;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    margin: 0;
}
header, main, footer {
    display: flex;
    justify-content: center;
    background: #fff;
}
header {
    position: fixed;
    top: 0px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
header h5 {
  font-size: 18px;
  color: #3c91d1;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
}
main { 
    min-height: 550px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main.page-1 {
    text-align: center;
}
article p{
  color: #80807f;
  font-size: 18px;
}
a.prev {
    position: absolute;
    left: 15px;
    width: 24px;
    height: 24px;
    background: url("../images/left-arrow.png") no-repeat;
}
article h5 {
  color: #2090cd;
  font-size: 14px;
}
article p.content-1 {
  color: #80807f;
  padding: 0px 45px 30px 45px;
}
footer p {
  color: #2090cd;
  font-size: 14px;
}
.login a {
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2090cd;
  font-size: 14px;
}
form {
  width: 100%;
}
.login {
  outline: none;
  border-radius: 5px;
  background: white;
  padding: 12px;
  margin-bottom: 10px;  
  border: 1px solid #2090cd;
  width: 80%;
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  position: fixed;
  padding-bottom: 50px;
  bottom: 0;
}