div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  line-height: 1.3;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  background: #e3e3e3;
}

strong {
  font-weight: 700;
}

.bold {
  font-weight: 900;
}

/*END OF RESET CSS*/

header {
  background: #e3e3e3;
  color: #fff;
  padding: 25px 0 0;
  text-align: center;
}

.header-right {
  float: right;
  padding: 0 0 16px;
  position: relative;
  margin-top: 10px;
}

.span-header-right {
  position: absolute;
  right: 95px !important;
  top: 0px !important;
  width: 115px !important;
  text-align: right !important;
  font-size: 20px !important;
  line-height: 1 !important;
}

.header-right-logo {
  float: left;
  position: absolute;
  width: 80px;
  height: 51px;
  right: 10px;
  top: -1px;
}

.right-logo-border {
  border: 6px solid #fff;
  width: 51px;
  height: 51px;
  position: absolute;
  content: "";
  top: 0;
  left: calc(50% - 25px);
  z-index: 1;
}

.right-logo-image {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/fruit5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

