#line1 {
	stroke-dasharray: 320;
	stroke-dashoffset: 320;
}
#line2 {
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
}
#line3, #line4 {
	stroke-dasharray: 360;
	stroke-dashoffset: 360;
}

#line1 {
	-webkit-animation: drawingLine 1s linear 0s forwards, dashLine 0s linear 1s forwards;
	animation: drawingLine 1s linear 0s forwards, dashLine 0s linear 1s forwards;
}
#line2 {
	-webkit-animation: drawingLine 1s linear 1s forwards, dashLine 0s linear 2s forwards;
	animation: drawingLine 1s linear 1s forwards, dashLine 0s linear 2s forwards;
}
#line3 {
	-webkit-animation: drawingLine 1s linear 2s forwards, dashLine 0s linear 3s forwards;
	animation: drawingLine 1s linear 2s forwards, dashLine 0s linear 3s forwards;
}
#line4 {
	-webkit-animation: drawingLine 1s linear 3s forwards, dashLine 0s linear 4s forwards;
	animation: drawingLine 1s linear 3s forwards, dashLine 0s linear 4s forwards;
}

#imagination, #calendar, #booking, #camera, #sharing, #Bg_cloud, #icons {
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: scale(0);
	transform-origin: 50% 50%;
	transform: scale(0);
}

#imagination {
	-webkit-animation: scaleElement 1s linear 0s forwards;
	animation: scaleElement 1s linear 0s forwards;
}
#calendar {
	-webkit-animation: scaleElement 1s linear 0.75s forwards;
	animation: scaleElement 1s linear 0.75s forwards;
}
#booking {
	-webkit-animation: scaleElement 1s linear 1.5s forwards;
	animation: scaleElement 1s linear 1.5s forwards;
}
#camera {
	-webkit-animation: scaleElement 1s linear 2.25s forwards;
	animation: scaleElement 1s linear 2.25s forwards;
}
#sharing {
	-webkit-animation: scaleElement 1s linear 3s forwards;
	animation: scaleElement 1s linear 3s forwards;
}

#Bg_cloud {
	-webkit-animation: scaleElement 2s linear 0.5s forwards;
	animation: scaleElement 2s linear 0.5s forwards;
}

#icons {
	opacity: 0;
	-webkit-animation: scaleIcons 2s linear 0s forwards;
	animation: scaleIcons 2s linear 0s forwards;
}

#star1, #star2 {
	-webkit-animation: blinkStar 1s ease-out 0s alternate infinite;
	animation: blinkStar 1s ease-out 0s alternate infinite;
}
#star3, #star4 {
	-webkit-animation: blinkStar 1s ease-out 1s alternate infinite;
	animation: blinkStar 1s ease-out 1s alternate infinite;
}
#star5, #star6 {
	-webkit-animation: blinkStar 1s ease-out 0.5s alternate infinite;
	animation: blinkStar 1s ease-out 0.5s alternate infinite;
}


@-webkit-keyframes drawingLine {
	to {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes dashLine {
	to {
		stroke-dasharray: 5;
	}
}

@-webkit-keyframes scaleElement {
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes scaleIcons {
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes blinkStar {
	0% {
    opacity: 1;
  }
	100% {
		 opacity: 0;
	}
}


@keyframes drawingLine {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dashLine {
	to {
		stroke-dasharray: 5;
	}
}

@keyframes scaleElement {
	to {
		transform: scale(1);
	}
}

@keyframes scaleIcons {
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes blinkStar {
	0% {
    opacity: 1;
  }
	100% {
		 opacity: 0;
	}
}