#Pencil {
 -webkit-transform-origin: 50% 100%;
 transform-origin: 50% 100%;
 -webkit-transform: translate(300px, -350px);
 transform: translate(300px, -350px);
 -webkit-animation: movePencil 2s linear 0s forwards;
 animation: movePencil 2s linear 0s forwards;
}

#pin1, #pin2, #pin3 {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
}


#pin1, #pin2, #pin3 {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
}

#Store {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-animation: scalePin 1s linear 1s forwards;
	animation: scalePin 1s linear 1s forwards;
}

#huts {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-animation: scalePin 1s linear 0s forwards;
	animation: scalePin 1s linear 0s forwards;
}

#pin1 {
	-webkit-animation: scalePin 0.5s linear 0s forwards;
	animation: scalePin 0.5s linear 0s forwards;
}
#pin2 {
	-webkit-animation: scalePin 0.5s linear 0.7s forwards;
	animation: scalePin 0.5s linear 0.7s forwards;
}
#pin3 {
	-webkit-animation: scalePin 0.5s linear 1.5s forwards;
	animation: scalePin 0.5s linear 1.5s forwards;
}

#star1, #star3 {
	-webkit-animation: blinkStar 1s ease-out 0s alternate infinite;
	animation: blinkStar 1s ease-out 0s alternate infinite;
}
#star2 {
	-webkit-animation: blinkStar 1s ease-out 1s alternate infinite;
	animation: blinkStar 1s ease-out 1s alternate infinite;
}
#star4 {
	-webkit-animation: blinkStar 1s ease-out 0.5s alternate infinite;
	animation: blinkStar 1s ease-out 0.5s alternate infinite;
}


@-webkit-keyframes movePencil {
	0% {
    -webkit-transform: translate(300px, -350px);
    transform: translate(300px, -350px);
  }
	8% {
		-webkit-transform: translate(220px, -350px);
		transform: translate(220px, -350px);
	}
	15% {
		-webkit-transform: translate(180px, -290px);
		transform: translate(180px, -290px);
	}
	21% {
		-webkit-transform: translate(220px, -240px);
		transform: translate(220px, -240px);
	}
	39% {
		-webkit-transform: translate(410px, -240px);
		transform: translate(410px, -240px);
	}
	49% {
		-webkit-transform: translate(475px, -150px);
		transform: translate(475px, -150px);
	}
	58% {
		-webkit-transform: translate(410px, -80px);
		transform: translate(410px, -80px);
	}
	91% {
		-webkit-transform: translate(60px, -75px);
		transform: translate(60px, -75px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}

@-webkit-keyframes scalePin {
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes blinkStar {
	0% {
    opacity: 1;
  }
	100% {
		 opacity: 0;
	}
}



@keyframes movePencil {
	0% {
    transform: translate(300px, -350px);
  }
	8% {
		transform: translate(220px, -350px);
	}
	15% {
		transform: translate(180px, -290px);
	}
	21% {
		transform: translate(220px, -240px);
	}
	39% {
		transform: translate(410px, -240px);
	}
	49% {
		transform: translate(475px, -150px);
	}
	58% {
		transform: translate(410px, -80px);
	}
	91% {
		transform: translate(60px, -75px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes scalePin {
	to {
		transform: scale(1);
	}
}

@keyframes blinkStar {
	0% {
    opacity: 1;
  }
	100% {
		 opacity: 0;
	}
}